<%= simple_form_for [Asset.new] do |f| %>
  <%= f.input :trade, as: :date, html5: true, label: 'Trade' %>
  <%= f.input :operation, label: 'C / V' %>
  <%= f.input :name, label: 'Asset' %>
  <%= f.input :quantity, label: 'Amount' %>
  <%= f.input :price, label: 'Price' %>
  <%= f.input :emoluments, label: 'Emoluments' %>
  <%= f.submit "File It", class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Trade</th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th scope="col">Emoluments</th>
      <th scope="col">Total</th>
      <th scope="col">Price per Unit</th>
    </tr>
  </thead>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <th scope="row"><%= link_to "Update", edit_asset_path(asset), class: "btn btn-secondary btn-sm" %></th>
        <th scope="row"><%= link_to "Delete", asset_path(asset), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></th>
        <td><%= asset.trade.strftime('%d-%m-%y') %></td>
        <td><%= asset.operation.upcase %></td>
        <td><%= asset.name.upcase %></td>
        <td><%= asset.quantity %></td>
        <td><%= asset.price %></td>
        <td><%= asset.emoluments %></td>
        <td><%= (((asset.quantity * asset.price) + asset.emoluments) / asset.quantity) * asset.quantity %></td>
        <td><%= ((asset.quantity * asset.price) + asset.emoluments) / asset.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>