<table class="table table-striped">
  <thead>
    <tr>
      <th scope="row"></th>
      <th scope="row"></th>
      <th scope="row"></th>
      <th scope="row"></th>
      <th scope="row"></th>
      <th scope="row"><%= @quantity_sum %></th>
      <th scope="row"><%= number_to_currency((@value_sum / @quantity_sum)) %></th>
      <th scope="row"></th>
      <th scope="row"></th>
      <th scope="row"></th>
    </tr>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Trade</th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th scope="col">Emoluments</th>
      <th scope="col">Total</th>
      <th scope="col">Price per Unit</th>
    </tr>
  </thead>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <th scope="row"><%= link_to "Update", edit_asset_path(asset), class: "btn btn-secondary btn-sm" %></th>
        <th scope="row"><%= link_to "Delete", asset_path(asset), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></th>
        <td><%= asset.trade.strftime('%d-%m-%y') %></td>
        <td><%= asset.operation %></td>
        <td><%= asset.name %></td>
        <td><%= asset.quantity %></td>
        <td><%= number_to_currency(asset.price) %></td>
        <td><%= number_to_currency(asset.emoluments) %></td>
        <td><%= asset.quantity.nil? ? number_to_currency(asset.price) : number_to_currency(((asset.quantity * asset.price) + asset.emoluments)) %></td>
        <td><%= asset.quantity.nil? ? number_to_currency(asset.price) : number_to_currency((((asset.quantity * asset.price) + asset.emoluments) / asset.quantity)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>